<div id="sidebar">
    <button id="toggle-sidebar">☰</button>
    <div id="logo">
        <img src="/assets/images/profile.jpg" alt="Nahuel Seoane" class="profile-picture" />
        <h2>Nahuel Seoane</h2>
        <h3>Software Developer</h3>
        <!-- <p>PY | JS | HTML & CSS | SQL</p> -->
    </div>
    <nav>
        <ul class="index">
            <li><a href="#top">Profile</a></li>
            <li><a href="#portfolio">Projects</a></li>
            <li><a href="#about">About me</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

    <!-- Icons -->
    <ul class="icons">
        <li>
            <a href="https://mail.google.com/mail/?view=cm&to=nahuelseoane@gmail.com&su=Message+from+Portfolio&body=Hola+Nahuel%2C%0A%0Aquiero+contactarte+por+tu+trabajo+como+desarrollador..."
                target="_blank">
                <img src="/assets/images/gmail-icon.png" alt="Gmail" class="social-icon">
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/nahuel-seoane" target="_blank">
                <img src="/assets/images/linkedin-logo.png" alt="LinkedIn" class="social-icon">
            </a>
        </li>
        <li>
            <a href="https://github.com/soyjnahuel" target="_blank">
                <img src="/assets/images/github-logo.png" alt="Github" class="social-icon">
            </a>
        </li>
        <li>
            <a href="https://wa.me/5491133983542" target="_blank">
                <img src="/assets/images/whatsapp_logo.png" alt="Whatsapp" class="social-icon">
            </a>
        </li>
    </ul>
</div>